In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('Simultaneous_SETI_TESS_targets_170621.csv')
df.head()

           Name        RA        DEC  Unnamed: 3
0          Name        RA        DEC         NaN
1  TIC432549364   0.02414  39.383795         NaN
2  TIC346929661   0.06517  59.334681         NaN
3  TIC347013211  0.074617  54.934497         NaN
4  TIC194203348  0.079788   41.59388         NaN

In [29]:
obs_mstlist = pd.read_csv('observed_targets_masterlist.csv')
obs_mstlist.head()

observed_names = obs_mstlist['Name'] 

# for name in observed_names: print(df[df['Name'] == name])

filtered_targets = ['Name', 'RA', 'DEC', 'Unnamed: 3']

for i in range(0, len(observed_names)):
    filtered_targets.append(df[df['Name'] == observed_names[i]])

print(filtered_targets)

['Name', 'RA', 'DEC', 'Unnamed: 3',              Name         RA        DEC  Unnamed: 3
818  TIC317597583  23.467778  75.552607         NaN,              Name         RA        DEC  Unnamed: 3
821  TIC427730490  23.484982  71.506474         NaN,              Name         RA        DEC  Unnamed: 3
823  TIC367858035  23.649439  75.685232         NaN,             Name        RA        DEC  Unnamed: 3
12  TIC407394748  0.361377  77.880071         NaN,             Name        RA        DEC  Unnamed: 3
46  TIC435680451  1.194334  79.165492         NaN,             Name        RA        DEC  Unnamed: 3
59  TIC395393265  1.755931  77.790123         NaN,             Name        RA        DEC  Unnamed: 3
88  TIC396562848  2.955925  76.551405         NaN,              Name        RA        DEC  Unnamed: 3
133  TIC142090065  5.271567  79.737727         NaN,              Name        RA       DEC  Unnamed: 3
134  TIC142117976  5.416015  79.74934         NaN,              Name        RA       DEC  Unnamed: 3
147  TIC445805961  6.285589  76.21102         NaN,              Name         RA        DEC  Unnamed: 3
210  TIC372757221  10.859545  81.322175         NaN,              Name         RA        DEC  Unnamed: 3
270  TIC288132261  13.965621  79.583322         NaN,              Name         RA        DEC  Unnamed: 3
279  TIC158002130  14.303713  82.193773         NaN,             Name        RA        DEC  Unnamed: 3
67  TIC250724252  2.233683  53.121508         NaN,             Name        RA        DEC  Unnamed: 3
76  TIC249862365  2.541534  52.704091         NaN,            Name        RA       DEC  Unnamed: 3
83  TIC51024887  2.810346  62.18926         NaN,            Name        RA        DEC  Unnamed: 3
94  TIC81831095  3.187109  61.762385         NaN,              Name        RA        DEC  Unnamed: 3
102  TIC316254876  3.465923  54.865617         NaN,              Name        RA        DEC  Unnamed: 3
108  TIC431899140  3.748169  45.507188         NaN,              Name        RA        DEC  Unnamed: 3
113  TIC266500992  4.078149  52.256992         NaN,              Name        RA        DEC  Unnamed: 3
118  TIC470315428  4.309899  52.865032         NaN,             Name        RA        DEC  Unnamed: 3
124  TIC27677846  4.424676  46.365902         NaN,              Name        RA        DEC  Unnamed: 3
130  TIC121966220  5.053188  41.785784         NaN,             Name        RA        DEC  Unnamed: 3
21  TIC191146556  0.553625  46.340305         NaN]